# nile.toml file generated for mppluginangular on 2023-11-15T16:46:31+05:30

app = "mppluginangular"
id = "e13244be3efedc951d6bc017827c2134d3ae17712a21d64801d58df023d835b92c6ddb8de6a47d33e11cf5f0421e4db6"

[build]
  builtin = "static angular"

kill_signal = "SIGINT"
kill_timeout = 5

[env]

[experimental]
  allowed_public_ports = []
  auto_rollback = true

[[services]]
  external_port = 80
  http_checks = []
  internal_port = 80
  protocol = "tcp"
  routing_policy = "Geolocation"
  script_checks = []

  [services.concurrency]
    hard_limit = 25
    soft_limit = 20
    type = "connections"

  [services.limits]
    cpu = "1"
    memory = "256"

  [[services.ports]]
    handlers = ["http"]
    port = 80

  [[services.ports]]
    handlers = ["tls", "http"]
    port = 443

  [services.requests]
    cpu = "0.5"
    memory = "128"

  [[services.tcp_checks]]
    grace_period = "1s"
    interval = "15s"
    restart_limit = 6
    timeout = "2s"
